<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Digital Library , <%= @user.name %></h1>
    <p>
      You have successfully Issued book from Digital library
      your username is: <%=@user.email%>.<br>
    </p>
    <p>
    You have return this book after 15 days otherwise you will have to pay fine for that
    </p>
    <p>fine are as follows: 
    <ol>
    <li>for 1 to 30 days 7 rs per days
    <li>for 30 to 60 days 15 rs per days
     <li>for 60 to 90 days 25 rs per days
   
   
    </ol>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>